:root {
	// colors
	--border-color: #525252bf;
	--border-color-highlight: #52525250;
	--light-border-color: #ffffff24;
	--light-border-color-highlight: #ffffff50;
	--light-shade: #d9d9d908;
	--dark-shade: #00000008;
	--secondary-green: #1db954;
	--white75: #ffffffbf;
	--white50: #ffffff80;

	// breakpoints
	--min-mobile-size: 320px;
	--min-tablet-size: 481px;
	--min-laptop-size: 769px;
	--min-desktop-size: 1025px;
	--min-tv-size: 1201px;

	// landing page
	--landing-page-max-width: 140rem;
	--landing-page-side-padding: 4rem;

	@media (min-width: 769px) {
		--landing-page-side-padding: 8rem;
	}
}

a {
	text-decoration: none;
	color: inherit;
	&:hover,
	&:focus {
		color: inherit;
	}
}

input:is([type="text"], [type="email"], [type="password"]) {
	background-color: var(--wf-base-white);
	color: var(--wf-base-800);
	border-width: 1px;
	border-radius: 4px;
	padding: 0.25rem 0.5rem;
}
