.game-screen {
	display: flex;
	flex-direction: column;
	.game-header-bar {
		display: flex;
		border-bottom: 0.1rem solid var(--light-border-color);
		align-items: baseline;
		i {
			display: flex;
			align-items: center;
			&.fa-circle-question {
				padding: 0 0.8rem;
			}
		}
		> * {
			width: 0;
			flex-grow: 1;
			display: flex;
		}
		.game-header__left {
			justify-content: flex-start;
			gap: 0.8rem;
			.category-icon__container {
				display: flex;
				gap: 0.8rem;
				align-items: center;
			}
		}
		.score-tracker {
			display: flex;
			justify-content: center;
			position: relative;
			.score-number {
				position: relative;
				font-size: 5.6rem;
				line-height: 5.6rem;
				font-weight: 400;
				&::before {
					content: "score ";
					font-size: 1.6rem;
					line-height: 1.6rem;
					margin-right: 0.8rem;
					position: absolute;
					right: 100%;
					bottom: 0.8rem;
				}
			}
			.score-animation-container {
				position: absolute;
				top: calc(50% - 8rem);
				width: 16rem;
				height: 16rem;
			}
		}
		.game-header__right {
			justify-content: flex-end;
			gap: 0.8rem;
		}
	}
	.voting-controls {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
		align-items: center;
		justify-content: center;
		.button-container {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			.voting-button {
				i {
					font-size: 2rem;
				}
				justify-content: space-between;
			}
		}
		@media (hover: none) and (pointer: coarse) {
			.button-container {
				gap: 1.6rem;
				.voting-button {
					height: 5rem;
					border-radius: 2.4rem;
					font-size: 2.4rem;
					i {
						font-size: 3.2rem;
					}
				}
			}
			p {
				font-size: 2rem;
			}
		}
	}
	.country-container {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		@media (hover: none) and (pointer: coarse) {
			grid-template-columns: 1fr;
		}
		gap: 1.6rem;
		padding: 0 3.2rem;
	}
	.loading-container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 20rem;
		width: 20rem;
		margin: auto;
	}
}
