:root {
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	font-size: 10px;
	font-family: Poppins, sans-serif;
	color: #fff;
}

/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	overscroll-behavior: none;
	font-size: 16px;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

input,
textarea,
button,
select {
	font: inherit;
	all: revert;
}

h1 {
	font-size: 4.8rem;
}

button {
	border: none;
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	padding: 0;
	cursor: pointer;
}

@media (prefers-color-scheme: light) {
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

/* APP */
#root {
	width: 100vw;
	height: 100vh;
	background: #3e5151; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom,
		#3e5151,
		#decba4
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#3e5151,
		#decba4
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
	width: 100%;
	padding: 0 2.4rem 3.2rem 2.4rem;
}

@import "base.less";
